{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Map with Markers{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link href="{% static "css/base.css" %}" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="{% static "images/carmap.png" %}">

  {% block extra_css %}
  <!-- Дополнительные стили можно подключить из других шаблонов -->
  {% endblock %}
</head>
<body>

  <header>
    <div>
      <a style="margin-left: 0px" href="{% url 'profile' request.user.id %}">My Profile</a>
      <a href="/map">Map</a>
      <a href="{% url 'dialog_list' %}">Chats</a>
      <form method="post" action="{% url 'logout' %}" style="display: inline; margin-right: auto;">
        {% csrf_token %}
        <button type="submit" style="position: absolute; right: 10px;">Logout</button>
      </form>
    </div>
  </header>

  <main>
    {% block content %}
    <!-- Контент страницы -->
    {% endblock %}
  </main>

  {% block extra_js %}
  <!-- Дополнительные скрипты можно подключить из других шаблонов -->
  {% endblock %}
  <script>
    // Запрашиваем разрешение на уведомления
    if (Notification.permission !== "granted") {
      Notification.requestPermission();
    }
  
    let myStorage = window.localStorage;
  
    function checkMessages() {
      fetch("{% url 'check_new_messages' %}")
        .then(response => response.json())
        .then(data => {
          for (let i = 0; i < Object.keys(data.new_messages).length; ++i){
            console.log(myStorage.getItem(Object.keys(data.new_messages)[i]));
            if (myStorage.getItem(Object.keys(data.new_messages)[i]) != data.new_messages[Object.keys(data.new_messages)[i]]){
              new Notification("Новое сообщение!", {
                body: Object.keys(data.new_messages)[i]+": "+data.new_messages[Object.keys(data.new_messages)[i]],
              });
              myStorage.setItem(Object.keys(data.new_messages)[i], data.new_messages[Object.keys(data.new_messages)[i]]);
              break;
            }
          }
        });
    }
  
    setInterval(checkMessages, 20000); // проверка каждые 20 секунд
  </script>
  

</body>
</html>
