{% extends "main/base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static "css/chat.css" %}" rel="stylesheet" />
<style>
  a {
    text-decoration: none;
  }

  strong {
    align-self: center;
    margin-right: 5px;
  }

  .chat-container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .chat-box {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
  }
  .chat-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .message-text {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
  }
  .submit-btn {
    align-self: flex-end;
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .submit-btn:hover {
    background: #0056b3;
  }

</style>
{% endblock %}

{% block content %}
<div class="chat-container">
  <a href="{% url 'profile' marker.user.id %}"><h2 class="chat-header">{{ marker.user }} {% if to_user.userstatus.is_online %}(онлайн){% endif %}</h2></a>
  <a href="{% url 'profile' request.user.id %}"><p class="chat-info">Маркер {{marker.title}}</p></a>

  <div id="chat-box" class="chat-box"></div>

  <form id="message-form" class="chat-form">
    <input id="to_user_id" type="hidden" name="to_user_id" value="{{ to_user.id }}">
    <input id="marker_id" type="hidden" name="marker_id" value="{{ marker.id }}">
    <textarea name="text" id="message-text" class="message-text" placeholder="Введите сообщение..." required></textarea>
    <button type="submit" class="submit-btn">Отправить</button>
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script>

  //let user_query_data = "{{ user_query_data }}";  // ← заранее объявляем переменную

  function loadMessages() {

    let box = document.getElementById('chat-box');
    let lastScrollTop = box.scrollTop;
    let user_id = "{{request.user.id}}";

    fetch("{% url 'get_messages' marker.id to_user.id %}")
      .then(res => res.json())
      .then(data => {
        let box = document.getElementById('chat-box');

        box.innerHTML = '';  // Очищаем чат
        data.messages.forEach(m => {
          console.log(m);
          // Если сообщение от текущего пользователя, добавляем класс .from-user, если от собеседника - .to-user
          console.log(m.notify_type);
          let messageClass = m.from === '{{ request.user.username }}' ? 'from-user' : 'to-user';
          
          if (m.notify_type == 'user_query') {
            pickupMapLink = '<br><small><a href="https://yandex.ru/maps/?rtext={{user_query_data.lon}}%2C{{user_query_data.lat}}&z=11.2" target="_blank">📍 Посмотреть на карте: {{user_query_data.point}}</a></small>';
            //https://yandex.ru/maps/?ll=-14.002575%2C49.972191&mode=search&pt=%2C53.202742353507254&sll={{user_query_data.pickup_lon}}%2C{{user_query_data.pickup_lat}}&text={{user_query_data.pickup_lon}}%2C{{user_query_data.lat}}&z=11.2
            box.innerHTML += `<p id="notification" class="message ${messageClass}">
              <strong>Уведомление от пользователя ${m.from}</strong> ${m.text}. <b><br>Точка посадки пользователя: </b> {{user_query_data.point}} <small>({{user_query_data.lon}}, {{user_query_data.lat}})</small>
              <span class="timestamp">${m.timestamp.split(" ")[1]}</span><br>
              {% if request.user.id == marker.user.id %}
              <button class="user-query-reply" onclick='SendMessage(1, "approve")' id="approve">Approve</button>
              <button class="user-query-reply" onclick='SendMessage(1, "decline")' id="decline">Decline</button>
              {% endif %}
            </p>`;
            /*
            {% if request.user.id == marker.user.id %}
            console.log('init', document.getElementById("approve"));
            document.getElementById("approve").addEventListener('click', function(e){
              console.log('called')
              e.preventDefault();
              SendMessage(1, "approve");
            })

            document.getElementById("decline").addEventListener('click', function(e){
              e.preventDefault();
              SendMessage(1, "decline");
            })
            {% endif %}*/
          } else {
            box.innerHTML += `<p class="message ${messageClass}"><strong>${m.from}</strong> ${m.text} <span class="timestamp">${m.timestamp.split(" ")[1]}</span></p>`;
          }
        });
        box.scrollTop = box.scrollHeight; // Прокручиваем чат до конца
      });

    box.scrollTop = lastScrollTop;

  }

setInterval(loadMessages, 3000); // обновление сообщений каждую 3 секунды
loadMessages();

document.getElementById('message-form').addEventListener('submit', function(e) {
  e.preventDefault();
  SendMessage(0, this.id);
});

function SendMessage(notify, id){
  let formData = new FormData();

  formData.append("to_user_id", document.getElementById('to_user_id').value);
  formData.append("marker_id", document.getElementById('marker_id').value);

  msg = document.getElementById('message-text').value;

  formData.append('notify_type', id);
  formData.append("text", msg);

  fetch("{% url 'send_message' %}", {
    method: 'POST',
    headers: {'X-CSRFToken': '{{ csrf_token }}'},
    body: formData
  }).then(() => {
    document.getElementById('message-text').value = ''; // очищаем поле ввода
    loadMessages(); // перезагружаем чат
  });
}

</script>
{% endblock %}
