<!DOCTYPE html>
<html>
<head>
    <title>Map with Markers</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map { height: 600px; }
    </style>
</head>
<body>
    <div id="map"></div>
    <a href="{% url 'add_marker' %}">Add Marker</a>
    <a href="{% url 'profile' %}">My profile</a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>
    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        {% for marker in markers %}
            L.marker([{{ marker.latitude }}, {{ marker.longitude }}]).addTo(map)
                .bindPopup("<b>{{ marker.name }}</b><br>{{ marker.description }}");
        {% endfor %}
    </script>
</body>
</html>