{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение кода</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/carmap.png' %}">
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #f0f2f5;
            font-family: "Segoe UI", sans-serif;
            background: url({% static 'images/background.jpg' %});
            }
    </style>
</head>
<body>
    <div class="login-page">
        <div class="login-form-container">
            <h2>Подтверждение кода</h2>
            <p style="text-align: center;">Код отправлен на <strong>{{ email }}</strong></p>
            <form action="{% url 'reset-password-confirm' %}" method="post" class="login-form">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ email }}">

                <div class="form-group">
                    <label for="code">Код подтверждения</label>
                    <input type="text" name="code" id="code" required placeholder="Введите код">
                </div>

                <div class="form-group">
                    <label for="password">Новый пароль</label>
                    <input type="password" name="password" id="password" required placeholder="Введите новый пароль">
                </div>

                {% if messages %}
                    <div class="non-field-errors">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <button type="submit" class="login-button">Сменить пароль</button>
            </form>
            <p class="register-text"><a href="{% url 'login' %}">Вернуться к входу</a></p>
        </div>
    </div>
</body>
</html>
