{% extends "main/base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static "css/profile.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}

{% if is_owner %}
<div id="profile-form-container" style="display: none; margin-top: 20px;">
    <form method="post" enctype="multipart/form-data" class="edit-profile-form">
        {% csrf_token %}

        <!-- Блок формы пользователя -->
        <div class="form-group">
            <label for="{{ user_form.username.id_for_label }}">Логин (username):</label>
            {{ user_form.username }}
        </div>
        <div class="form-group">
            <label for="{{ user_form.email.id_for_label }}">Email:</label>
            {{ user_form.email }}
        </div>
        <div class="form-group">
            <label for="id_first_name">Имя:</label>
            <input type="text" name="first_name" id="id_first_name" value="{{ profile_data.first_name }}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="id_last_name">Фамилия:</label>
            <input type="text" name="last_name" id="id_last_name" value="{{ profile_data.last_name }}" class="form-control" />
        </div>

        <!-- Блок формы профиля -->
        <div class="form-group">
            <label for="{{ profile_form.phone_number.id_for_label }}">Телефон:</label>
            {{ profile_form.phone_number }}
        </div>
        <div class="form-group">
            <label for="{{ profile_form.telegram.id_for_label }}">Telegram:</label>
            {{ profile_form.telegram }}
        </div>
        <div class="form-group">
            <label for="{{ profile_form.whatsapp.id_for_label }}">WhatsApp:</label>
            {{ profile_form.whatsapp }}
        </div>
        <div class="form-group">
            <label for="{{ profile_form.vk.id_for_label }}">VK:</label>
            {{ profile_form.vk }}
        </div>

        <!-- Фото отдельно -->
        <div class="photo-container">
            <label for="id_photo">Фото профиля:</label>
            <div class="photo-preview">
                <img src="{% static profile_data.photo.url %}" id="photo-preview" alt="Фото профиля" class="round-photo" />
            </div>
            <input type="file" name="photo" id="id_photo" accept="image/*" onchange="previewImage(event)">
        </div>

        <div class="form-buttons">
            <button type="submit" class="save-button">Сохранить</button>
            <button type="button" class="edit-button" onclick="toggleProfileForm()">Закрыть</button>
        </div>
    </form>
</div>
{% endif %}

<div id="profile-info" class="profile-info">
    {% if profile_data.photo %}
    <div class="profile-photo-top">
        <img src="{% static profile_data.photo.url %}" alt="Фото пользователя" class="square-photo">
    </div>
    {% endif %}

    {% if profile_data.first_name or profile_data.last_name %}
    <h2>{{ profile_data.first_name }} {{ profile_data.last_name }} 
        {% if is_online %}
            <span class="status online">Онлайн</span>
        {% else %}
            <span class="status offline">Оффлайн</span>
        {% endif %}
    </h2>
    {% endif %}

    <ul>
        {% if profile_data.phone_number %}
        <li><strong>Телефон:</strong> {{ profile_data.phone_number }}</li>
        {% endif %}

        {% if profile_data.telegram %}
        <li><strong>Telegram:</strong> {{ profile_data.telegram }}</li>
        {% endif %}

        {% if profile_data.whatsapp %}
        <li><strong>WhatsApp:</strong> {{ profile_data.whatsapp }}</li>
        {% endif %}

        {% if profile_data.vk %}
        <li><strong>VK:</strong> {{ profile_data.vk }}</li>
        {% endif %}

        {% if profile_data.successful_trips %}
        <li><strong>Успешных поездок:</strong> {{ profile_data.successful_trips }}</li>
        {% endif %}

        {% if profile_data.unsuccessful_trips %}
        <li><strong>Неуспешных поездок:</strong> {{ profile_data.unsuccessful_trips }}</li>
        {% endif %}
    </ul>

    {% if is_owner %}
        <button class="edit-button" onclick="toggleProfileForm()">Редактировать профиль</button>
    {% endif %}
</div>


{% if is_owner %}
    <div class="markers-section">
        <h2>Мои маркеры</h2>
        <div class="marker-list">
            {% for marker in own_markers %}
                <div class="marker-card">
                    <h3>{{ marker.title }}</h3>
                    <p><b>Транспорт</b>: {{ marker.get_transport_type_display }}</p>
                    <p><b>Маршрут</b>: {{ marker.start_point }} → {{ marker.end_point }}</p>
                    <p><b>Кол-во мест</b>: {{ marker.people_count }}</p>
                    <form method="post" class="cancel-form">
                        {% csrf_token %}
                        <input type="hidden" name="cancel_trip_id" value="{{ marker.id }}">
                        {% if marker.is_active %}
                            <a href="{% url 'edit_marker' marker.id %}" class="btn-cancel" style="background-color: #4c70ff">Редактировать</a> |
                            <a href="{% url 'delete_marker' marker.id %}" class="btn-cancel">Удалить</a>
                        {% else %}
                            <button class="btn-cancel">Удалена</button>
                        {% endif %}
                    </form>
                </div>
            {% empty %}
                <p>Нет активных маркеров.</p>
            {% endfor %}
        </div>

        <h2>Я откликнулся на</h2>
        <div class="marker-list">
            {% for marker in responded_markers %}
                <div class="marker-card">
                    <h3>{{ marker.title }}</h3>
                    <p><b>Транспорт</b>: {{ marker.get_transport_type_display }}</p>
                    <p><b>Маршрут</b>: {{ marker.start_point }} → {{ marker.end_point }}</p>
                    <p><b>Кол-во мест</b>: {{ marker.people_count }}</p>
                    <form method="post" class="cancel-form">
                        {% csrf_token %}
                        <input type="hidden" name="cancel_trip_id" value="{{ marker.id }}">
                        <button type="submit" class="btn-cancel">Отменить поездку</button>
                    </form>
                </div>
            {% empty %}
                <p>Вы не откликались ни на один маршрут.</p>
            {% endfor %}
        </div>
    </div>
{% endif %}

<script>
    function toggleProfileForm() {
        //try {
            const formBlock = document.getElementById("profile-form-container");
            const profile_info = document.getElementById("profile-info");
            console.log(formBlock, profile_info)
            profile_info.style.display = (formBlock.style.display === "none") ? "none" : "block";
            console.log((formBlock.style.display === "none") ? "block" : "none");
            formBlock.style.display = (formBlock.style.display === "none") ? "block" : "none";
        //} catch {
        //    return null
        //}
    }

    function previewImage(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function() {
                const preview = document.getElementById('photo-preview');
                preview.src = reader.result;
            }
            reader.readAsDataURL(file);
        }
    }

</script>
{% endblock %}
